#content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;

}

#title {
    position: relative;
    top: 40%;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Rubik", sans-serif;
    font-size: 100px;
    font-weight: bolder;    
}

#subtitle {
    position: relative;
    top: 40%;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Rubik", sans-serif;
    font-size: 25px;
    font-weight: bolder;    
}



#button {
    width: 140px;
    position: relative;
    top: 45%;
    background-color: rgba(255, 255, 255, 0.255);
    color: rgba(255, 255, 255, 0.9);
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    display: grid;
    padding: 15px;

    grid-template-columns: 75% 25%;

    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;


    transition: ease 1s;
    animation: breathe ease 7s infinite;
}

@keyframes breathe {
    0% {
      scale: 1;
    }
    50% {
        scale: 1.1;
      }
    100% {
        scale: 1;
    }
  }


#button:hover {
    background-color: rgba(255, 0, 128, 0.4);
}

#button:active {
    transition: ease 1s;
    background-color: rgba(255, 0, 128, 0.4);
}

.front {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    opacity: 90%;

}

#menu {
    pointer-events: all;
    margin: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    transition: all ease .5s;
    cursor: pointer;
}



#menu:hover {
    scale: 1.1;
}


.rotate-90-anim {
    animation: rotate-90-anim ease .5s;
    transform: rotate(90deg);
}

.reverse-rotate-90-anim {
    animation: reverse-rotate-90-anim ease .5s;
    transform: rotate(0deg);
}

@keyframes rotate-90-anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

@keyframes reverse-rotate-90-anim {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

#menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    align-items: center;

}
.menu-option{
    height: fit-content;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.9);
    transition: all ease .5s;
}

.menu-button {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 3px;
    padding-inline: 35px;
    border-radius: 20px;
    transition: ease .5s;
    cursor: pointer;


}

.menu-button:hover{
    background-color: rgba(255, 255, 255, 0.255);
    transition: ease .2s;

}

.menu-button:active{
    background-color: rgba(255, 0, 128, 0.4);
    scale: .9;
    transition: ease .2s;

}

.show_menu {
    transition: all ease .5s;
    opacity: 100%;    
    pointer-events: all;
    transform: translateX(-10px)



}

.hide_menu {
    transition: all ease .5s;
    opacity: 0%;    
    pointer-events: none;
    transform: translateX(-70px)
}

body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

a{
    text-decoration: none;
    color: inherit;
}
